extends layout

block append body
    .container.theme-showcase(role='main')

    h1= 'Bibliothèque'
    p Liste des livres
        ul
            li='Titre : '+livre.titre
            li='Resume : '+livre.resume
            li='Auteur : '+livre.auteur
            li
                a(href='/livre/'+livre.unId+'/exemplaire') Liste des Exemplaires


