extends layout

block append body
  .container.theme-showcase(role='main')

    .jumbotron
      h1  Bibliothèque

    .page-header
      if (!user)
        h3 Bienvenue !!

      else
        h3 Bienvenue #{user.username}