extends ./layout

block content
    h1= 'Bibliothèque'
    p Liste des livres
    ul
        each livre in listeLivre
            li= livre.titre
            li= livre.resume
            li= livre.ISBN

